<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Audit Trail
    <small>A form that displays Audit Trail details</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active">Other Activities</li>
    <li class="active">Audit Trail</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
      </div>

      <!-- /.box-header -->
      <!-- form start -->
      <form [formGroup]="this.auditTrailService.auditTrailForm">

        <div class="box-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="subscriptionNo">Subscription No</label>
              <input type="text" class="form-control" formControlName="SubscriptionNo" id="subscriptionNo" placeholder="Subscription No">
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              <label for="userNameWhoUpdated">User Who Updated</label>
              <input type="text" class="form-control" formControlName="UserNameWhoUpdated" id="userNameWhoUpdated" placeholder="User Who Updated">
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" rows="3" id="description" formControlName="Description" placeholder="Description"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="date">Date</label>
              <input type="text" class="form-control" formControlName="Date" id="date" placeholder="Date">
            </div>
          </div>
        </div>
        <!-- /.box-body -->

      </form>
      <!-- /.box -->

    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->