<section class="content-header">
  <h1>
    {{action}} Subscriber
    <small>Use this form to {{action}} a subscriber</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#" routerLink="/subscribers">Subscribers</a></li>
    <li class="active">{{action}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
      </div>

      <!-- /.box-header -->
      <!-- form start -->
      <form [formGroup]="this.subscriberService.subscribersForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="InternalId">
        <div class="box-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="subscriptionNo">Subscription Number</label>
                  <input type="number" class="form-control" formControlName="SubscriptionNo" id="subscriptionNo"
                    placeholder="Subscription Number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <br>
                  <label>
                    <input type="checkbox" formControlName="IsInvalid"> Is Invalid?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':submitted && formControls.CustomerName.errors}">
              <label for="customerName">Customer Name</label>
              <input type="text" class="form-control" formControlName="CustomerName" id="customerName" placeholder="Customer Name"
                [ngClass]="{'is-invalid':submitted && formControls.CustomerName.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.CustomerName.errors">
                <span class="help-block">This field is required.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="Email" id="email" placeholder="Email">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input type="number" class="form-control" formControlName="Mobile" id="mobile" placeholder="Mobile">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" formControlName="Phone" id="phone" placeholder="Phone">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateCreated">Date Created</label>
                  <input type="date" class="form-control" formControlName="CreatedDate" id="dateCreated" placeholder="Date Created">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateCreated">Date Created</label>
                  <input type="date" class="form-control" formControlName="ModifiedDate" id="dateModified" placeholder="Date Modified">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="createdBy">Created By</label>
              <input type="text" class="form-control" formControlName="CreatedByUserName" id="createdBy" placeholder="Created By">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="typeId">Subscription Type</label>
                  <input type="number" class="form-control" formControlName="TypeId" id="typeId" placeholder="Subscription Type">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="loyaltyUserId">Loyalty User</label>
                  <input type="text" class="form-control" formControlName="LoyaltyUserId" id="loyaltyUserId"
                    placeholder="Loyalty User">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dueDate">Due Date</label>
                  <input type="date" class="form-control" formControlName="ModifiedDate" id="dueDate" placeholder="Due Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="renewedDate">Renewed Date</label>
                  <input type="date" class="form-control" formControlName="RenewedDate" id="renewedDate" placeholder="Renewed Date">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="address1">Address Line 1</label>
              <input type="text" class="form-control" formControlName="Address1" id="address1" placeholder="Address Line 1">
            </div>
            <div class="form-group">
              <label for="address2">Address Line 2</label>
              <input type="text" class="form-control" formControlName="Address2" id="address2" placeholder="Address Line 2">
            </div>
            <div class="form-group">
              <label for="address3">Address Line 3</label>
              <input type="text" class="form-control" formControlName="Address3" id="address3" placeholder="Address Line 3">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" formControlName="City" id="city" placeholder="City">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="state">State</label>
                  <input type="text" class="form-control" formControlName="State" id="state" placeholder="State">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" formControlName="Country" id="country" placeholder="Country">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pin">Pin Code</label>
                  <input type="number" class="form-control" formControlName="Pin" id="pin" placeholder="Pin Code">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="comments">Comments</label>
              <textarea class="form-control" rows="3" id="comments" formControlName="Comments" placeholder="Comments"></textarea>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary" *ngIf="action === 'Add' || action === 'Modify'">Submit</button>
          <button type="submit" class="btn btn-danger pull-right" *ngIf="action === 'Delete'">Delete</button>
        </div>
      </form>

      <!-- /.box -->

    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</section>