<section class="content-header">
  <h1>
    {{action}} Subscriber
    <small>Use this form to {{action}} a subscriber</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a href="#" routerLink="/subscribers">Subscribers</a></li>
    <li class="active">{{action}}</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"></h3>
        <button type="button" class="btn bg-maroon pull-right" *ngIf="action === 'Modify'" data-toggle="modal"
          data-target="#modal-default">Renew</button>
      </div>

      <!-- /.box-header -->
      <!-- form start -->
      <form [formGroup]="this.subscriberService.subscribersForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="InternalId">
        <div class="box-body">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="subscriptionNo">Subscription Number</label>
                  <input type="number" class="form-control" formControlName="SubscriptionNo" id="subscriptionNo"
                    placeholder="Subscription Number">
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox">
                  <br>
                  <label>
                    <input type="checkbox" formControlName="IsInvalid"> Is Invalid?
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':submitted && formControls.CustomerName.errors}">
              <label for="customerName">Customer Name</label>
              <input type="text" class="form-control" formControlName="CustomerName" id="customerName" placeholder="Customer Name"
                [ngClass]="{'is-invalid':submitted && formControls.CustomerName.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.CustomerName.errors">
                <span class="help-block" *ngIf="submitted && formControls.CustomerName.errors.required">This field is
                  required.</span>
                <span class="help-block" *ngIf="submitted && formControls.CustomerName.errors.maxlength">This field
                  length should be maximum of 40 Characters</span>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Email.errors}">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="Email" id="email" placeholder="Email" [ngClass]="{'is-invalid':submitted && formControls.Email.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.Email.errors">
                <span class="help-block" *ngIf="submitted && formControls.Email.errors.required">This field is
                  required.</span>
                <span class="help-block" *ngIf="submitted && formControls.Email.errors.email">Please enter a valid
                  Email.</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Mobile.errors}">
                  <label for="mobile">Mobile</label>
                  <input type="number" class="form-control" formControlName="Mobile" id="mobile" placeholder="Mobile"
                    [ngClass]="{'is-invalid':submitted && formControls.Mobile.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.Mobile.errors">
                    <span class="help-block" *ngIf="submitted && formControls.Mobile.errors.required">This field is
                      required.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="number" class="form-control" formControlName="Phone" id="phone" placeholder="Phone"
                    [ngClass]="{'is-invalid':submitted && formControls.Email.errors}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateCreated">Date Created</label>
                  <input type="date" class="form-control" formControlName="CreatedDate" id="dateCreated" placeholder="Date Created">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dateModified">Date Modified</label>
                  <input type="date" class="form-control" formControlName="ModifiedDate" id="dateModified" placeholder="Date Modified">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="createdBy">Created By</label>
              <input type="text" class="form-control" formControlName="CreatedByUserName" id="createdBy" placeholder="Created By">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.TypeId.errors}">
                  <label for="typeId">Subscription Type</label>
                  <input type="number" class="form-control" formControlName="TypeId" id="typeId" placeholder="Subscription Type"
                    [ngClass]="{'is-invalid':submitted && formControls.TypeId.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.TypeId.errors">
                    <span class="help-block" *ngIf="submitted && formControls.TypeId.errors.required">This field is
                      required.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.LoyaltyUserId.errors}">
                  <label for="loyaltyUserId">Loyalty User</label>
                  <input type="text" class="form-control" formControlName="LoyaltyUserId" id="loyaltyUserId"
                    placeholder="Loyalty User" [ngClass]="{'has-error':submitted && formControls.LoyaltyUserId.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.LoyaltyUserId.errors">
                    <span class="help-block" *ngIf="submitted && formControls.LoyaltyUserId.errors.required">This field
                      is
                      required.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dueDate">Due Date</label>
                  <input type="date" class="form-control" formControlName="DueDate" id="dueDate" placeholder="Due Date">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="renewedDate">Renewed Date</label>
                  <input type="date" class="form-control" formControlName="RenewedDate" id="renewedDate" placeholder="Renewed Date">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Address1.errors}">
              <label for="address1">Address Line 1</label>
              <input type="text" class="form-control" formControlName="Address1" id="address1" placeholder="Address Line 1"
                [ngClass]="{'has-error':submitted && formControls.Address1.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.Address1.errors">
                <span class="help-block" *ngIf="submitted && formControls.Address1.errors.required">This field is
                  required.</span>
                <span class="help-block" *ngIf="submitted && formControls.Address1.errors.maxlength">This field
                  length should be maximum of 20 Characters</span>
              </div>
            </div>
            <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Address2.errors}">
              <label for="address2">Address Line 2</label>
              <input type="text" class="form-control" formControlName="Address2" id="address2" placeholder="Address Line 2"
                [ngClass]="{'has-error':submitted && formControls.Address2.errors}">
              <div class="invalid-feedback" *ngIf="submitted && formControls.Address2.errors">
                <span class="help-block" *ngIf="submitted && formControls.Address2.errors.required">This field is
                  required.</span>
                <span class="help-block" *ngIf="submitted && formControls.Address2.errors.maxlength">This field
                  length should be maximum of 20 Characters</span>
              </div>
            </div>
            <div class="form-group">
              <label for="address3">Address Line 3</label>
              <input type="text" class="form-control" formControlName="Address3" id="address3" placeholder="Address Line 3">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.City.errors}">
                  <label for="city">City</label>
                  <input type="text" class="form-control" formControlName="City" id="city" placeholder="City" [ngClass]="{'has-error':submitted && formControls.City.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.City.errors">
                    <span class="help-block" *ngIf="submitted && formControls.City.errors.required">This field
                      is
                      required.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.State.errors}">
                  <label for="state">State</label>
                  <input type="text" class="form-control" formControlName="State" id="state" placeholder="State"
                    [ngClass]="{'has-error':submitted && formControls.State.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.State.errors">
                    <span class="help-block" *ngIf="submitted && formControls.State.errors.required">This field
                      is
                      required.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Country.errors}">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" formControlName="Country" id="country" placeholder="Country"
                    [ngClass]="{'has-error':submitted && formControls.Country.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.Country.errors">
                    <span class="help-block" *ngIf="submitted && formControls.Country.errors.required">This field
                      is
                      required.</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group" [ngClass]="{'has-error':submitted && formControls.Pin.errors}">
                  <label for="pin">Pin Code</label>
                  <input type="number" class="form-control" formControlName="Pin" id="pin" placeholder="Pin Code"
                    [ngClass]="{'has-error':submitted && formControls.Pin.errors}">
                  <div class="invalid-feedback" *ngIf="submitted && formControls.Pin.errors">
                    <span class="help-block" *ngIf="submitted && formControls.Pin.errors.required">This field
                      is
                      required.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="comments">Comments</label>
              <textarea class="form-control" rows="5" id="comments" formControlName="Comments" placeholder="Comments"></textarea>
            </div>
          </div>
        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="submit" class="btn btn-primary" *ngIf="action === 'Add' || action === 'Modify'">Submit</button>
          <button type="button" class="btn btn-danger pull-right" *ngIf="action === 'Delete'">Delete</button>
        </div>
      </form>

      <!-- /.box -->

    </div>
    <!--/.col (right) -->
  </div>
  <!-- /.row -->
</section>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Renew Subscription</h4>
      </div>
      <div class="modal-body">
        <section class="content">
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="box box-primary">
                <form [formGroup]="this.subscriberService.subscribersForm">
                  <div class="box-body">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [ngClass]="{'has-error':submitted && formControls.TypeId.errors}">
                          <label for="typeId">Subscription Type</label>
                          <input type="number" class="form-control" formControlName="TypeId" id="typeId" placeholder="Subscription Type"
                            [ngClass]="{'is-invalid':submitted && formControls.TypeId.errors}">
                          <div class="invalid-feedback" *ngIf="submitted && formControls.TypeId.errors">
                            <span class="help-block" *ngIf="submitted && formControls.TypeId.errors.required">This
                              field is
                              required.</span>
                          </div>
                        </div>
                        <div class="form-group" [ngClass]="{'has-error':submitted && formControls.LoyaltyUserId.errors}">
                          <label for="loyaltyUserId">Loyalty User</label>
                          <input type="text" class="form-control" formControlName="LoyaltyUserId" id="loyaltyUserId"
                            placeholder="Loyalty User" [ngClass]="{'has-error':submitted && formControls.LoyaltyUserId.errors}">
                          <div class="invalid-feedback" *ngIf="submitted && formControls.LoyaltyUserId.errors">
                            <span class="help-block" *ngIf="submitted && formControls.LoyaltyUserId.errors.required">This
                              field
                              is
                              required.</span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="dueDate">Due Date</label>
                          <input type="date" class="form-control" formControlName="DueDate" id="dueDate" placeholder="Due Date">
                        </div>
                        <div class="form-group">
                          <label for="renewedDate">Renewed Date</label>
                          <input type="date" class="form-control" formControlName="RenewedDate" id="renewedDate"
                            placeholder="Renewed Date">
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>