  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Subscribers
      <small>A table that displays the list of Subscribers</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#" routerLink="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active">Subscribers</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">

        <div class="box">
          <div class="box-header">
              <button routerLink="/" type="button" class="btn bg-purple btn-flat margin">Add</button>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable [dtOptions]="dtOptions" id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th>Subscription No</th>
                <th>Name</th>
                <th>City</th>
                <th>Pin</th>
                <th>Phone</th>
                <th>Due Date</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let sub of subscribers">
                      <td>{{sub.SubscriptionNo }}</td>
                      <td>{{sub.CustomerName }}</td>
                      <td>{{sub.City }}</td>
                      <td>{{sub.Pin }}</td>
                      <td>{{sub.Phone }}</td>
                      <td>{{sub.DueDate }}</td>
                      <td>
                        <button routerLink="['/subscribers/'+sub.SubscriptionNo]" type="button" class="btn btn-info btn-flat">View</button>
                        <button routerLink="['/subscribers/'+sub.SubscriptionNo]" type="button" class="btn btn-danger btn-flat">Delete</button>
                      </td>
                  </tr>
              </tbody>
              <tfoot>
              <tr>
                  <th>Subscription No</th>
                  <th>Name</th>
                  <th>City</th>
                  <th>Pin</th>
                  <th>Phone</th>
                  <th>Due Date</th>
                  <th>Actions</th>
              </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

